@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
html {
  margin: 0;
  padding: 0;
}
.pres {
  display: flex;
  justify-content: center;
}

.button-réserver {
  position: absolute;
  margin-top: 350px;
  margin-left: 450px;
  border: solid 1px;
  font-family: 'Space Mono';
  background-color: transparent;
  border-radius: 3px;
  border-color: white;
  color: white;
  padding: 15px;
  font-size: 1.2em;
  cursor: pointer;
}

.button-réserver:hover {
  background-color: #fff;
  color: #010101;
}

main {
  width: 100%;
  height: 100vh;
  background-image: url('https://www.boliden.com/globalassets/news/23575292-artificial-intelligence-conceptual-digital-illustration.jpg');
}
